@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.trans {
  @apply transition ease-in-out;
}

.trans-150 {
  @apply transition ease-in-out duration-150;
}

.trans-300 {
  @apply transition ease-in-out duration-300;
}

/*-------------------------------*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

*::selection {
  background-color: #9bdbbe;
}

button,
img {
  user-select: none;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9abec9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #174a5a;
  transition: all 0.55s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11343f;
}
