@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

*::selection {
  background-color: #9bdbbe;
}

button,
img {
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9abec9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #174a5a;
  transition: all 0.55s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11343f;
}
